:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

ul , li{
  text-decoration: none;
  list-style: circle;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

input{
  padding: 8px;
  margin-right: 5px;
}

.button{
  margin-top: 5px;
  width: 60%;
  display: flex;
    place-items: center;
    justify-content: end;
}
.todo{
  width: 40%;
  overflow: hidden;
}



.part{
  display: flex;
  justify-content: space-between;
  max-width: 400px;

}

.part .left{
  /* color: red; */
  font-weight: 700;
}

.toggle{
  text-decoration: line-through;
}

.edit{
  background-color: rgb(26, 202, 94);
  color: white;
}

.delete{
  background-color: red;
  color: white;
}

.part .right{
  color: red;
  font-size: x-small;
  
}

.fire{
  text-align: center;
  color: #685e06e8;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 8px 8px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-right: 5px;
}

.update{
  background-color: rgb(26, 202, 94);
  color: white;
}



button:hover {
  border-color: #fafafa;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #ffd600;;
  }
}

@media (max-width:575px){
  /* input{
    display: block;
  } */

  .container{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .fire{
    margin: auto;
    
  }

  .part{
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  .edit{
    padding: 2px 5px
  }
  
  .delete{
    padding: 2px 5px
  }

}
